@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;0,900;1,400&family=Playfair+Display&family=Satisfy&display=swap");

/*=============== variables ==================  */
  $clr-pry-1: hsl(209, 100%, 28%);
  $clr-pry-2: hsl(209, 50%, 56%);
  $clr-pry-3: hsl(209, 100%, 85%);
  $clr-pry-4: hsl(208, 97%, 87%);
  $clr-sec-1: hsl(255, 35%, 69%);
  $clr-sec-2: hsl(286, 36%, 44%);
  $clr-sec-3: hsl(314, 37%, 63%);
  $clr-sec-4: hsl(320, 44%, 88%);
  $clr-gray-4: hsl(210, 36%, 89%);
  $clr-gray-1: hsl(0, 0%, 48%);
  $clr-gray-2: hsl(0, 0%, 41%);
  $clr-gray-3: hsl(0, 0%, 20%);
  $clr-grn-1: hsl(181, 100%, 20%);
  $clr-grn-2: hsl(193, 61%, 20%);
  $white: #fff;
  /* ================== font families============= */
  $ff-play: "Playfair Display";
  $ff-sub: "Alegreya";
  $ff-curry: "Satisfy";
  /* others */
  $transition: all 0.3s linear;
  $radius: 0.5rem;
  $spacing: 0.25rem;
  $light-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
  $dark-shadow: 0 5px 1rem rgba(0, 0, 0, 0.7);

