@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  height: 90vh;
  
  border-left: 5px solid yellowgreen;
  border-bottom:5px solid yellowgreen ;
}

.icons{
  display: block;
  width: 4rem;
  height: 4rem;
  color: #fff;
  font-size: 1.4rem;
  background-color: rgb(28, 218, 101);
  border-radius: 50%;
}
