@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary colors */
  --primary-grayishBlue: hsl(233, 26%, 24%);
  --primary-limeGreen: hsl(136, 65%, 51%);
  --primary-brightCyan: hsl(192, 70%, 51%);

  /* neutral colors */
  --neutral-Grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-Grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-Grayish-blue: hsl(0, 0%, 98%);
  --white: hsl(0, 0, 100%);
  /* font */
  --pace: 18px;
  --family: "Public Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
}
.background {
  background-image: url("./Asset/images/bg-intro-desktop.svg");
}

.icons {
  display: block;

  width: 4rem;
  height: 4rem;
  font-size: 1.4rem;
  background-color: rgb(28, 218, 101);
  border-radius: 50%;
}

svg {
  color: #fff;
}
svg:hover {
  color: green;
}
.menu {
  font-size: 1.5rem;
  border-radius: 4px;
}
